<link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.2/primeflex.css">

<main>
  <p-card styleClass="card-adjust">
    <div class="grid col-12">
      <h1>Calculadora de Juros Compostos</h1>
    </div>

    <div class="grid flex flex-wrap">

      <div class="col-12 md:col-6 lg:col-3">
        <span>Valor Inicial</span>
        <p-inputNumber class="w-full" inputId="currency-br" mode="currency" currency="BRL" locale="pt-BR">
        </p-inputNumber>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <span>Valor Mensal</span>
        <p-inputNumber class="w-full" inputId="currency-br" mode="currency" currency="BRL" locale="pt-BR">
        </p-inputNumber>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <span>Taxa de Juros</span>
        <p-inputNumber  class="w-full" inputId="percent" prefix="%">
        </p-inputNumber>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <span>Periodo em meses</span>
        <p-inputNumber class="w-full" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="12">
        </p-inputNumber>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <span>Periodo em anos</span>
        <p-inputNumber class="w-full" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100">
        </p-inputNumber>
      </div>

      <div class="flex flex-wrap col-12 justify-content-center">
        <div class="col-12 md:col-6 lg:col-3">
          <button pButton pRipple type="button" label="CALCULAR" class="w-full"></button>
        </div>
      </div>

    </div>
  </p-card>
</main>
